<div class="container">
  <h1>Giving</h1>
  <blockquote>
    <p>Since you excel in so many ways—in your faith, your gifted speakers, your knowledge, your enthusiasm, and your
      love from
      us, I want you to excel also in this gracious act of giving. 2 Corinthians 8:7
    </p>
  </blockquote>

  <blockquote>

    <p>
      <strong> Why give?</strong> Your financial
      donations support the ministries at our church, in our community, and our new church facility. We are thankful
      that you
      have chosen to be a part of IPTM. God is doing incredible things at IPTM. As we seek to fulfill our new building
      fund, we believe God supplies for needs of the ministry, and part of that provision is met through each person
      that
      Lord leads to partner and support us through their prayer's and generous financial support.
    </p>
  </blockquote>

  <h3>Ways to Give</h3>

  <blockquote>
    <p>
      <strong>Sunday Offering </strong> Every Sunday you have the opportunity to donate while attending one of our
      services. Donations
      can be placed in the offering box during the service.
    </p>
  </blockquote>

  <blockquote>
    <p>
      <strong>Bank Transfer </strong>
    </p>
    <dl class="dl-horizontal">
      <dt>Account Name</dt>
      <dd>IMMANUEL PRAYER TOWER MINISTRIES </dd>
      <dt>Account No</dt>
      <dd>114611100000742</dd>
      <dt>Bank Name</dt>
      <dd>Andhra Bank </dd>
      <dt>IFSC Code</dt>
      <dd>ANDB0001146 </dd>
      <dt>Branch</dt>
      <dd>Asn Degree College, Tenali, Andhra Pradesh, India-522201 </dd>
      <dt>Bank’s Telephone</dt>
      <dd>(+91)08644227581 </dd>
    </dl>
  </blockquote>
</div>
