<div class="container">
  <h1>Contact Us</h1>

  <div class="panel panel-primary">
    <div class="panel-heading">Address</div>
    <div class="panel-body">
      <address>
        <strong>Immanuel Prayer Tower Ministries</strong>
        <br> Ganganam Pet
        <br> East Canal Road
        <br> Tenali
        <br> Andhra Pradesh
        <br> India - 522201
        <br>
        <br>
        <abbr title="Mobile Telugu">M:</abbr> (+91) 9440321464
        <br>
        <abbr title="Mobile English and Telugu">M:</abbr> (+91) 9160640610
        <br>
        <a href="mailto:#">bhanuprasad@iptministries.org</a>
      </address>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">Prayer request</div>
    <div class="panel-body">
      <p class="lead">
        Are you in need of Prayer? Are you facing a challenging situation? Let us know how we can pray for you. Contact
        us with your
        prayer request, and IPTM’s Pastor and prayer team will pray for you and your loved ones.
      </p>

      <blockquote>
        <p>
          Rejoice always, pray continually, give thanks in all circumstances; for this is God’s will for you in Christ
          Jesus.
        </p>
        <footer>
          <span class="footer">1 Thessalonians 5:16-18</span>
          <cite title="Bible Version">NIV</cite>
        </footer>
      </blockquote>

      <p class="lead">
        No matter what you may be going through today, know that the moment you pray, God hears you!</p>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">Locations</div>
    <div class="panel-body">

      <p class="lead">
        IPTMinistries, by God’s Grace, has three churches that Pastor Bhanu Leads. IPTM is also affiliated with four
        additional churches.
      </p>
      <h3> Planted Churches:</h3>
      <blockquote>
        <p>
          <strong> Church #1 in Ganganampet (Tenali)</strong>
        </p>
        <p> Main church building from begining, Approx 150-200 members</p>
      </blockquote>

      <blockquote>
        <p>
          <strong>Church #2 in Morrispet-Matam Bazaar (Tenali)</strong>
        </p>
        <p>Child church building, Approx 100-150 members</p>
      </blockquote>

      <blockquote>
        <p>
          <strong>Church #3 in Morrispet-Railway Station Road (Tenali)</strong>
        </p>
        <p>(This land we do not own-By the Grace of God, IPTM is able to use the land owned by Harvest India), Approx
          1000+ members
          (Currently using as our main church)
        </p>
      </blockquote>

      <h3>Church Affiliations:</h3>
      <blockquote>
        <p>
          <strong>Church #4 in Govada – Pastor Avinash</strong>
        </p>
        <p>Approx 30+ members</p>
      </blockquote>

      <blockquote>
        <p>
          <strong> Church #5 in Guntur</strong>
        </p>
        <p>Pastor Joel, Approx 150-200 members</p>
      </blockquote>

      <blockquote>
        <p>
          <strong>Church #6 in Tenali – Pastor Prabhudas</strong>
        </p>
        <p>Approx 80-100 members</p>
      </blockquote>

      <blockquote>
        <p>
          <strong> Church #7 in Siripuram – Pastor Isaiah</strong>
        </p>
        <p>Approx 150+ members</p>
      </blockquote>
    </div>
  </div>
</div>
