<div class="container">
  <h1>About Us</h1>

  <div>

    <tabset>
      <tab heading="Our Beliefs" id="tab1">
        <div class="panel panel-primary">
          <div class="panel-heading">The Bible</div>
          <div class="panel-body">
            <p class="lead">
              We Believe every word in the Bible is inspired by God
            </p>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">Salvation</div>
          <div class="panel-body">
            <p class="lead">
              We Believe that through personal acceptance of Jesus Christ by faith, asking Christ to forgive our
              sins, a person becomes
              a Christian, and our relationship with God is established. The acceptance of Christ assures us
              that Christ comes into our life (Ephesians 1:13-14); Our sins are forgiven (Colossians 1:14);
              We begin a new life with Christ (2 Corinthians 5:17); We are assured of eternity in heaven (John
              11:25)
            </p>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">The Trinity</div>
          <div class="panel-body">
            <p class="lead">
              We Believe God is one and is the only one God. (Deuteronomy 4:35; 32:29; Isaiah 45:14; 46:9; Exodus
              20:3). The trinity means
              that, within the unified essence of the Godhead, there are three distinct persons who are God
              the Father, God the Son, and God the Holy Spirit.
            </p>

          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">Jesus Christ</div>
          <div class="panel-body">
            <p class="lead">
              We Believe Jesus is the Son of God who became man in the divine-human form of Jesus Christ (John
              1:1-18). Fully God (John
              10:30), and at the same time fully man (Philippians 2:7-8). His death on the cross was the answer
              for mankind’s sins (Romans 3:23-26; 1 Cor. 15:3). And on the third day, He physically rose again.
              (Matthew 28:6; Romans 1:4).
            </p>

          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">Holy Sprit</div>
          <div class="panel-body">

            <p class="lead">
              We Believe in the present ministry of the Holy Spirit by whose indwelling the Christian is enabled to
              live a life pleasing
              to God (1 Corinthians 6:19; Galatians 5:22, 23; Ephesians 5:18).
            </p>
          </div>
        </div>
      </tab>
      <tab heading="Our Vision">
        <div class="panel panel-primary">
          <div class="panel-heading">Visions</div>
          <div class="panel-body">
            <p class="lead">
              God has blessed us with an outpouring of Church attendees. God has led us to a piece of land we were
              able to purchase to
              build a larger church facility to accommodate the 1800+ Church members. By God’s Grace, the church
              will continue to grow year after year. The new location is the center of two villages that does
              not know of Jesus. What a great opportunity to open the hearts and eyes of the people of those
              two villages by bringing the Word of God to them and to continue sharing the Gospel to all of
              Tenali and the surrounding villages. Many people are accepting Jesus Christ as their personal
              Saviour, and growing their relationship with God. It is the will of God, how he is using Pastor
              Bhanu to be able to meet the needs of the community, providing God’s Word, meals, clothing, and
              other necessities to the people. Glory all to God! We Believe that we are called with a holy
              calling to walk not after the flesh, but after the Spirit, and so to live in the power of the
              indwelling Spirit of God through our walk of faith. God call us to follow Him, to preach the
              gospel; what is to come, and believing that God works all things together for good. (Act 16:9-10;
              1 Chronicles 17:15-18; Daniel 2:28-29; Romans 8:28-29)
            </p>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">Church</div>
          <div class="panel-body">
            <p class="lead"> We Believe that the church is the body of Christ, of which Jesus Christ is the head. The
              church is
              made up of a body of believers who have been called out from the world, which was formed on the
              day of Pentecost (1 Corinthians 12:12, 13; Acts 2:1, 42). The head of the church is Jesus Christ
              (Colossians 1:18).</p>
          </div>
        </div>
      </tab>
      <tab heading=" Our Mission">
        <div class="panel panel-primary">
          <div class="panel-heading">Our Mission</div>
          <div class="panel-body">
            <p class="lead">
              Our main mission is to remain true to God first and foremost, and: To work together for the Kingdom of
              God. To Glorify God
              by spreading His Word, and Ministering to all castes in the area villages of Tenali. Teaching
              the non-believers all about Christ Jesus our personal Savior. To provide a church of worship
              and prayer, to spread the gospel, love, peace, joy to people of Tenali and it surrounding towns
              villages. To grow devoted followers of Christ.
            </p>
          </div>
        </div>
      </tab>
      <tab heading=" Church History">
        <div class="panel panel-primary">
          <div class="panel-heading">Church History</div>
          <div class="panel-body">
            <p class="lead">
              IN THE BEGINNING… Following God’s calling, Pastor Bhanu took his wife Parvathi and their two children
              planted a church where
              God showed him. Starting out, Pastor Bhanu rented part of a shop using partitions in the shop,
              Pastor held church services weekly. On the 22nd of December 1996, Bhanu Prasad received a building
              and started a church with 16 members. Meanwhile he was wondering how they will run the church
              and who will come. The owner of the building was a church member and he was also wondering how
              the church would survive. He had a vision from God, “That the Church was not started by Bhanu
              Prasad, but it was started by “Me”. I have just planted a seed and I will make it a giant tree.”
              Then the owner shared the vision with Pastor Bhanu, and from that time God worked through Bhanu
              to bring Christ to the people in the surrounding villages. In 2004 the church building was purchased
              by Pastor Bhanu, and 60-80 people have been receiving Christ year after year. Praise God!
            </p>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">Pastor Bhanu Prasad Anumolu</div>
          <div class="panel-body">
            <p class="lead">
              Pastor Bhanu Prasad has been married to his beautiful bride Parvathi since 1992. Bhanu has a passion
              for helping his community,
              and bringing Christ to all the area villages. Bhanu has dedicated his life to serving God. God
              has blessed Pastor Bhanu and Parvathi with a son (Ashok), and a daughter (Kavitha). Both children
              are now young adults, and after numerous prayers on guidance for their children, God provided
              for them, the funding for Ashok and Kavitha to attend college. Both are planning on becoming
              doctors so they can help the community as their father and mother. Bhanu was born to a well-settled
              Hindu farming family on the 6th of October 1971, in Tenali, India. He grew up living a life of
              immorality, enjoying the world with his friends. During this time he found no peace, until one
              day he was led to church, and on his first visit all of the church members received him with
              love. This was the first thing that attracted him to church. This impacted him enough to attend
              church regularly. Bhanu received peace and started attending church regularly. In the process
              God gave him the gift of visions, filled him with the Holy Spirit, and at the age of 18 he received
              Christ as his personal Savior. He received forgiveness from the Lord and God strengthened him.
              Bhanu was called with this Bible reference: Isaiah 44:21-22. He wept and prayed to God, “I don’t
              know anything and I don’t have any Biblical training, I have lived an immoral life, and I have
              no character, no knowledge.” God told him, “I will use you mightily and I will strengthen you.”
              So he asked God where to start the church, and God showed him an area in the middle of Hindu
              families. Bhanu’s Testimony: It started with his mother’s vision. Bhanu had a good relationship
              with his mother. One day his mother had a vision from God. God told her that her son will be
              God’s servant. She fasted and prayed, then shared this vision with her son. And at the age of
              18 years old, Bhanu accepted Jesus Christ as his personal Savior. Soon after, Bhanu received
              a vision from the Holy Spirit of him strengthening others in Christ. This day he became a servant
              of God. Although Bhanu did not have the pastoral education, he followed God’s call, which confirmed
              the vision his mother had years before. In 1992, Bhanu married Parvathi, a beautiful Hindu young
              lady. They started their family soon after. By 1995, His faith and belief was strengthened during
              his growing relationship with God. The Pastor at his church suddenly passed away and without
              training a replacement, the church had no leader. A member of the Church started to lead the
              people of the church; however, the people quickly saw he was not the true one meant to lead the
              church. Meanwhile, God spoke to Bhanu and God said “You will lead the Church”. Bhanu then asked
              God, where am I to go lead your Church. God told Bhanu to take his family and go, God showed
              him a Church to lead. So Bhanu took his family and 5 other families who also believe Bhanu was
              true to God and meant to lead a Church as they had the same vision and trusted God. Bhanu shared
              to the people and started to work in the place God spoke to him about. Praying and fully trusting
              God’s plan, Bhanu was led to a land with a building already on this land. On the December 22,
              1996, Bhanu started God’s Church with 16 members. Meanwhile he was wondering how they will run
              the church and who will come. The owner of the building was a church member and he was also wondering
              how the church would survive. He had a vision from God, “That the Church was not started by Bhanu,
              but it was started by Me. I have just planted a seed and I will make it a giant tree.” Then the
              owner shared the vision with Bhanu, and from that time he received a burden to bring souls to
              the Lord. This land was located in a village full of Hindu people. Bhanu knew that God wanted
              him to plant a seed to the Hindu people, and trusted God to bless the land and place. After 1
              ½ years, 185 people came to know God as He promised. In 2004, Bhanu had met with a friend and
              fellow Pastor Harry Gomes; Pastor Harry prayed with Bhanu and he told him that Bhanu will greatly
              be used by the Almighty God in Tenali. He will be the first in Tenali. Bhanu was asked to partner
              with Harry Gomes ministries to partake in crusades where 50 thousand people attended from surrounding
              villages to hear the word of God. Also this same year, a church building was purchased by Pastor
              Bhanu, and 60-80 people have been receiving Christ year after year. God spoke to this land owner
              and he leased the land and the building to Bhanu. Since then, God has blessed the Church Pastor
              Bhanu was leading, and the church members were too receiving the blessings from Christ, people
              were getting married, families were starting, people were getting jobs. It was evident that God
              was definitely blessing the church and the people. In 2007, Pastor Bhanu was led to start another
              Immanuel Prayer Tower Church in the Guntur District. This Church now holds 300 members. The need
              and demand was there for Christ, so Bhanu was led to start another Church in another village.
              On Sunday services, Pastor would travel city to city to lead the services. Pastor prayed for
              guidance from God. Pastor Bhanu then started to train a Pastor to take over one for him at the
              Gunther District. And in 2008, Pastor was led yet again to open another Church in a remote village;
              however, this one location was too small to accommodate the large amount of people attending
              there. He prayed to God and asked Him what to do. Pastor Bhanu met with Bishop Suresh Kumar (President
              of Harvest India), and explained this situation of this small church being unable to accommodate
              a large crowd for services. After speaking with Bishop Suresh, praying and then Bishop Suresh
              leased him his land. Now all the churches were growing every year. Praise God. Pastor Bhanu,
              followed God’s calling, planting the seed in different villages and seeing the growth of people
              of all castes to accept Jesus Christ as their Savior. God blessed Bhanu with the passion to take
              care of God’s people. Pastor Bhanu is currently praying for land to purchase to build a larger
              church to accommodate many; to help the community with jobs; to build an elderly home for the
              homeless elderly people; and building a children’s home.
            </p>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">Parvathi Anumolu, Pastor’s Wife</div>
          <div class="panel-body">
            <p class="lead">
              Following along side her husband Pastor Bhanu, Parvathi has committed herself to serving the Lord. She
              also has the passion
              to serve the Lord God by helping the community with weekly meals, daily fellowship at believers
              homes, providing clothing to the needy, helping the congregation families. Their generosity has
              become known within the area villages. After marrying Bhanu in 1992, they started a family. God
              Blessed them with a daughter “Kavitha”, and a son “Ashok”. Parvathi continues serving the Lord,
              and helping her husband with his ministering to the community, meeting the needs of the people,
              with future hopes of starting a women’s ministry, and as the congregations continues to grow,
              adding an elderly and a children’s home. Parvathi was comes from a family who once believed in
              the Hindu Gods. She was not a believer of Jesus when she married Bhanu. Although Bhanu was not
              a Hindu when they got married, He witnessed to Parvathi, telling her about Jesus. Bhanu loved
              Jesus and believe in the one true God. Since Bhanu worshiped Jesus, Parvathi worshiped many Hindu
              Gods, leaving no peace in the house. When God called Bhanu to be His servant and to follow His
              call, Parvathi had no choice but to follow her husband. As God was working through Bhanu, Parvathi
              started to see all the wonderful and amazing miracles that only God could be doing. When she
              saw Bhanu praying for the people and she noticed good things (blessings) started happening to
              the people. People of the community were being provided for, healed, prayers were being answered.
              She began to be obedient. Observing all that God has done for the community. Then Parvathi started
              to hear God talking to her too. She then started to pray to God and God was giving her peace
              within. She started to feel the Holy Spirit working in her and she started to believe and forget
              the Hindu Gods. Parvathi didn’t know how to lead, but God showed her how to help her husband
              Pastor Bhanu. They both grew in faith and took the guidance of God. Parvathi chose to become
              obedient to God, and He started to work on her heart. When the Hindu community rejected Bhanu
              and Parvathi, they didn’t give up, they believed and trusted God to help and provide for them.
              There were times she felt she was being tested,, especially during some life obstacles, but she
              remembered God’s promises. Parvathi began to continuously pray to God, and waited patiently for
              God’s answer. God’s love has never failed. God has blessed Bhanu and Parvathi beyond anything
              they ever imagined. Providing a way for Kavitha and Ashok to attend the University so when they
              are finished with their studies, they will come serve the community too. Parvathi and Bhanu both
              believe this was all God’s plan. The whole family has become servants of God. Giving everything
              up to God, in His hands. Parvathi’s faith has strengthened as she continues her walk with the
              Almighty God.
            </p>
          </div>
        </div>
      </tab>
    </tabset>


  </div>
</div>
