<div class="container">
  <h1>Events</h1>

  <blockquote>
    <p>All our Churches are open everyday from between <span class="badge">6AM-8:30PM</span>
    </p>
    <p> We offer daily prayer during <span class="badge">6PM-8PM</span></p>
  </blockquote>

  <div class="panel panel-primary">
    <div class="panel-heading">Upcoming Events/Dates</div>
    <div class="panel-body">

      <dl class="dl-horizontal">
        <blockquote>
          <dt>
            <strong>Sunday</strong>
          </dt>
          <dd>

            <dl class="dl-horizontal">
              <dd>1st Service <span class="badge pull-right">8AM–11:30AM</span></dd>
              <dd>2nd Service <span class="badge pull-right">1PM–3:30PM</span></dd>
              <dd>3rd Service <span class="badge pull-right">6:30PM–9PM</span></dd>
            </dl>

          </dd>
        </blockquote>
        <blockquote>
          <dt>
            <strong>Monday</strong>
          </dt>
          <dd>House and hospital visiting
            <span class="badge pull-right"> 11AM</span>
          </dd>
        </blockquote>
        <blockquote>
          <dt>
            <strong>Tuesday </strong>
          </dt>
          <dd>Fasting Prayer
            <span class="badge pull-right">11:30AM-3:30PM</span>
          </dd>
        </blockquote>
        <blockquote>
          <dt>
            <strong>Wednesday</strong>
          </dt>
          <dd>Thanksgiving Prayer
            <span class="badge pull-right">11AM–2:30PM</span>
          </dd>
        </blockquote>
        <blockquote>
          <dt>
            <strong>Thursday</strong>
          </dt>
          <dd>Thanksgiving Prayer
            <span class="badge pull-right">11AM–2:30PM</span>
          </dd>
        </blockquote>
        <blockquote>
          <dt>
            <strong>Friday</strong>
          </dt>
          <dd>Fasting Prayer
            <span class="badge pull-right">11:30AM-3:30PM</span>
          </dd>
        </blockquote>
        <blockquote>
          <dt>
            <strong>Saturday</strong>
          </dt>
          <dd> Fasting Prayer in Believer’s House
            <span class="badge pull-right"></span>
          </dd>
        </blockquote>
      </dl>

    </div>
  </div>
</div>
