<div class="container">
    <h1>Projects / Activities</h1>

    <div class="panel panel-primary">
      <div class="panel-heading">Servings</div>
      <div class="panel-body">
        <p class="lead">    One way to fulfill God’s purpose for your life is to discover a place to serve within the church. God designed every person
            with unique talents and gifts specifically so we could use them to serve Him and others. Most of the activities are volunteered
            by the believers from the Church. Currently, we need volunteers for the following:</p>
    
    
        <ul class="list-group">
          <li class="list-group-item">Serve Meals on a weekly basis</li>
          <li class="list-group-item">Fellowship weekly at area village homes</li>
          <li class="list-group-item">Baptisms</li>
          <li class="list-group-item">Medical Camps</li>
          <li class="list-group-item">Pastoral Conference</li>
          <li class="list-group-item">Crusades</li>
          <li class="list-group-item">Youth Retreat</li>
          <li class="list-group-item">Men’s Ministry</li>
          <li class="list-group-item">Women’s Ministry</li>
          <li class="list-group-item">Children’s Ministry</li>
          <li class="list-group-item">VBS (Vacation Bible School)</li>
        </ul>
    
    <p class="lead">
        For more info on serving within the church, contact Pastor Bhanu directly or you can send an
    </p>
      </div>
    </div>
    
    <div class="panel panel-primary">
      <div class="panel-heading">New Church Construction</div>
      <div class="panel-body">
        <p class="lead">    God has blessed us with an amazing outpouring of church attendees. We have 1500+ Church members. Praise God! We have received
            word to vacate our current premise by January 1, 2016. We are prayerfully seeking God's guidance to provide the means
            to build a larger facility before the deadline date. We have no other choice, we must build a new church facility to
            provide a seat for all who come and God has led us to a piece of land that we able to purchase, Thank you Jesus! This
            is a great opportunity for us to come together for the Kingdom of God, to build His Church and to lay the foundation
            together and to continue touching the lives across Tenali and the Globe. All who will come, will have a seat, and will
            hear the Gospel of Christ. We believe this is God's will and trust in Him. We welcome you to come visit our church and
            ministry anytime. Please join us in Prayer. Please consider partnering with us to lay the foundation of the new church
            facility together. If you would like additional information, please contact us via email or complete the form on the
            contact page. All for His Kingdom....All for His Glory!</p>
      </div>
    </div>
    
    <div class="panel panel-primary">
      <div class="panel-heading">Womens Group</div>
      <div class="panel-body">
    <p class="lead">Our ministry women’s group is led by Parvathi (Pastor’s wife). Currently the women get together to support the church with preparation of weekly meals, attend prayers services at events, at homes, and at village outreaches. We meet mornings, afternoons and evenings throughout the week to fellowship with the each other, we welcome the new young ladies, to encourage, pray for each other, and discuss the bible, and at times discuss more in depth what that day’s sermon was about. Praise God!</p>
      </div>
    </div>
    
    <div class="panel panel-primary">
      <div class="panel-heading">Children Ministries</div>
      <div class="panel-body">
    <p class="lead">IPTMinistries currently have about 157 children in our Children’s ministry. On a weekly basis, we have to transport the children from the main church to the Sunday school which is housed at another location. Due to the current main church not having enough room to conduct Sunday School.  The Children’s ministry currently does not have a youth pastor, however, a couple of pastors in training from the young adults group volunteer their time to the teacher. Currently, we have only one teacher,  and with the help of some of our teenagers, and young adults group, she is able to teach all the children of all ages in one big class. Praise God!
    
        With the recent updates of the children’s ministry providing more activities for the children, we welcome teachers to come serve and minster in our children’s ministry.   In hopes of having future long term missionaries to help us with their teaching skills to one day be able to have classes per age group. We could use your help.   We welcome anyone with teaching experience to our ministry, whether short term or long term.  Please contact us if you are interested in volunteering your time. Praise God!
        </p>
      </div>
    </div>
    
    <div class="panel panel-primary">
        <div class="panel-heading">Ministry Work</div>
        <div class="panel-body">
      <p class="lead">There is so much poverty in India. Many of the families have only one parent and some believe it is in the best interest of their children to give them to orphanages. These are called “Poverty Orphans”. Children growing up in an orphanage, grow up surrounded by strangers, they are vulnerable to abuse, and neglect  We at IPTM believe the children need to be with family. Without the support of family or church community, most children growing up in a orphanage can become lost and struggle with adult life once out of an orphanage. We believe children need a positive and caring family environment.
    
          When a family in despair comes to IPTM, Pastor does all that he can through prayer and guidance from God for the family. IPTM will provide:
          
          ♥  Food  ♥  Clothing  ♥  Housing assistance  ♥  Contacts for jobs. By providing them jobs, they will regain their dignity and provide for their families.  Never being separated from their children.
          
          With your help IPTM would be able to provide more means for the families in need and hopefully in the near future, can create support group programs for the families and promoting family care.
          
          Please contact us for more information on how you can help.
          </p>
        </div>
      </div>
    
      <div class="panel panel-primary">
          <div class="panel-heading">Building Project</div>
          <div class="panel-body">
        <p class="lead">In Tenali, Andhra Pradesh, India, a village lacks the basic necessities of love, drinking water, sandals, medicine, and food.  In this village we are building a pillar of hope.  The church’s primary function is to share the Gospel of Jesus Christ with and make new disciples in this remote corner of the world.
    
            God has blessed us with an amazing out-pour of church attendees.  People usually travel several kilometers from surrounding villages and towns to participate in the Church Sunday services and other usual activities.  With our Church continuously outgrowing our current Church sites, we have prayed for new land, and God led us to a fruitful piece of land to build a larger church facility to accommodate 1800+ Church members. Praise God!
            
            With the church continuing to grow each year, the need for a larger church facility is also evident. Now with having to build a new church facility to accommodate all church members, will require many funds, which we don’t have the means to build our new facility.  Pastor is seeking Father God’s guidance in this matter. We now have a piece of our own land and are praying for the funds needed to build the new church facility on the new land, and providing a place for the community. We ask that you please prayer for our Pastor and church.
            
            We believe there is power in Prayer.  Please join us in prayer  and to consider partnering with IPTM.  God has given us a great opportunity for all of us to come together for the Kingdom of God, to lay the foundation of His church and to continue touching the lives across Tenali and the Globe.  All who will come will have a seat and will hear the Gospel of Christ.
            
            We welcome and invite you to come visit our ministry We ask you to please pray and consider partnering with us to help us lay the foundation of the new church facility together.  We believe this is God’s Will and trust in Him.
            
            Glory all to God.
            
             
            
            How to Help with the Building fund: One Brick at a Time
            
            Any donation amount helps our building fund.  With a gift of $500, you can buy a brick that will be built into the Church. Your gift will help us meet our financial goals, and build God’s Church One Brick at a Time. Join us in laying the foundation of God’s church together.
            
            Brick Sponsors will get their name, family’s name or business name engraved on a brick, which will be built in to the church building.  Brick Sponsors will also receive regular reports on the construction progress.  Best of all, Brick Sponsors are laying the foundation of Christ, a beacon of Hope and Dignity, in a community plagued with poverty and oppression.
            
            
            
            For more information on how to buy a brick and/or make a donation, please contact us.
            
            God Bless You
            </p>
          </div>
        </div>
</div>