<div class="container">
  <h1>Staff</h1>


  <p class="lead">Several incredibly faithful Pastors and staff have worked under Pastor Bhanu’s teachings before
    working at our affiliated
    churches.
  </p>
  <blockquote>
    <p>
      <strong>Rev A. Bhanu Prasad</strong>
    </p>
    <p>Lead Pastor and a faithful servant of God</p>
  </blockquote>
  <blockquote>
    <p>
      <strong>Parvathi Anumolu
      </strong>
    </p>
    <p>Faithful servant of God and supporter of the Church</p>
  </blockquote>

  <h3>Pastors</h3>
  <blockquote>
    <p>
      <strong>K. Avinash</strong>
    </p>
    <p> Pastor Avinash is currently Lead Pastor at IPTM Church #4 in Govad. Pastor Avinash is serving and ministering
      to 30+
      Church Members
    </p>
  </blockquote>

  <blockquote>
    <p>
      <strong>A. Isaiah</strong>
    </p>
    <p>Pastor Isaiah is currently Lead Pastor at IPTM Church #7 in Siripuram. Pastor Isaiah is serving and ministering
      to 150+
      Church Members
    </p>
  </blockquote>

  <blockquote>
    <p>
      <strong>M. Joel</strong>
    </p>
    <p>Pastor Joel is currently Lead Pastor at IPTM Church #5 in Guntur. Pastor Joel is serving and ministering to
      150-200 Church
      Members
    </p>
  </blockquote>

  <blockquote>
    <p>
      <strong>D. Prabhudas</strong>
    </p>
    <p>Pastor Prabhudas is currently Lead Pastor at IPTM Church #6 in Tenali. Pastor Prabhudas is serving and
      ministering to
      80-100 Church Members</p>
  </blockquote>
  <blockquote>
    <p>
      <strong>M. Prateek</strong>
    </p>
    <p>Pastor Prateek is currently working with Pastor Bhanu at the main church
    </p>
  </blockquote>
  <h3>Worship Leader</h3>
  <blockquote>
    <p>
      <strong>Sk. Esavali</strong>
    </p>
    <p>As the Church Worship Leader, Esavali provides musical worship leadership at each service, creating an inviting,
      worshipful
      atmosphere, in which the congregation can meet with God.</p>
  </blockquote>

  <h3>Church Admin</h3>
  <blockquote>
    <p>
      <strong>T. Abraham(Sai Babu)</strong>
    </p>
    <p>As Church Admin, Abraham duties include assisting with all aspects of administrative management, logistics,
      coordinating
      between departments units in resolving day-to-day administrative and operational, scheduling and coordinating
      meetings,
      interviews, events and other similar activities. Abraham is also a LIC Agent.
    </p>
  </blockquote>
  <h3>Outreach Coordinator</h3>
  <blockquote>
    <p>
      <strong>K.John Babu</strong>
    </p>
    <p>As Outreach Coordinator and Marketing Manager, John Babu utilizes his public relations skills to promote
      awareness, find
      volunteers, and organize events for the Church. He works directly with pastoral staff and members of the
      community
      to explain the importance of an event.</p>
  </blockquote>
  <h3>Volunteer Coordinator</h3>
  <blockquote>
    <p>
      <strong>N . Nageshwarao</strong>
    </p>
    <p>As volunteer coordinator, Nageshwarao places and supervises all volunteers accordingly to the need of the event
      or the
      ministry needing assistance. Nageshwarao is also the Cook for the Church.</p>
  </blockquote>
</div>
