<div class="container">
  <div class="row">
    <div class="col-sm12 col-md-12">
      <div class="page-header">
        <p class="lead"><strong>Immanuel Prayer Tower Ministries</strong>
          is a church where all people can know and accept
          <span class="label label-default">Jesus Christ</span>
          as their personal Savior. They can develop their faith, purpose in Him, and grow as devoted Christ followers
          as
          well as committed believers
          to serve their families, friends and the community.
        </p>
        <p>
          <a class="btn btn-primary" [routerLink]="['/about-us']" role="button">More...</a>
        </p>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="{{ '../../assets/group.jpg'}}" alt="" style="width: 300px;">
        <div class="caption">
          <h3>Giving</h3>
          <p>Since you excel in so many ways..</p>
          <p>
            <a [routerLink]="['/giving']" class="btn btn-primary" role="button">More...</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="{{ '../../assets/church.jpg'}}" alt="" style="width: 300px;">
        <div class="caption">
          <h3>Events</h3>
          <p>All the Churches are open...</p>
          <p>
            <a [routerLink]="['/events']" class="btn btn-primary" role="button">More...</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="{{ '../../assets/family.jpg'}}" alt="" style="width: 300px;">
        <!-- <img src="./images/family.jpg" alt="..."> -->
        <div class="caption">
          <h3>Staff</h3>
          <p>Regular staff and volunteers</p>
          <p>
            <a [routerLink]="['/staff']" class="btn btn-primary" role="button">More...</a>
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col md-12">
      <blockquote>
        <p>Each of the four living creatures had six wings and was covered with eyes all around, even under its wings.
          Day
          and night
          they never stop saying: “‘

          <strong>Holy, holy, holy is the Lord God Almighty</strong>,’ who was, and is, and is to come.”</p>
        <footer><span class="footer">REVELATIONS 4:8</span>
          <cite title="Bible Version">NIV</cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
